/problema1/JavaApplication1/nbproject/private/
/problema1/JavaApplication1/build/
/problema4/JavaApplication2/nbproject/private/
/problema4/JavaApplication2/build/
/problema2/JavaApplication3/nbproject/private/
/problema2/JavaApplication4/nbproject/private/
/problema2/JavaApplication4/build/
